<div class="comment-partial-container text-center">
  <%= image_tag comment.image, class: "img-responsive" %>
  <h4><%= comment.body %><h4>
    <%= button_to "Edit Comment", edit_topic_post_comment_path(post.topic, post, comment), :method => :get %>
    <%= link_to ('Delete Comment'), topic_post_comment_path(post.topic, post, comment), method: :delete, data: { confirm: "Delete Comment?"}, :class => 'btn btn-primary btn-;g'%>
</div>
