<div class="comment-container text-center">

  <h1><Comments></h1>

  <% @comments.each do |comment| %>
    <%= image_tag comment.image, class: "img-settings img-responsive center-block" %>
    <%= render partial: "partials/comment", locals: { comment: comment, post: @post, topic: @topic } %>
  <%end%>

  <%= render partial: "partials/form", locals: { comment: @comment } %>

</div>

<br>
<%= button_to "Back to Post", topic_posts_path, :method => :get %>
