.postshow {
  font-family: fantasy;

}

.actions-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;

}

.actions {
  flex: 0 0;
  padding: 5px;
  margin: 50px;
  border: 2px solid red;
  font: 20px;

}
