.topic-container {

  color: blue;
  font-family: fantasy;

.topic-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.topic-child {
  flex: 0 0 250px;
  padding: 10px;
  margin: 10px;
  border: 2px solid red;
font: 50px;
}

}

.newtopic {
  font-family: fantasy;
}
