.actions-parent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  flex: 0 0 50px;
  padding: 10px;
  margin: 10px;
  border: 2px solid red;
  font: 20px;   
}

.actions-child {

}
