<div class="topics">
  <h1 class="text-center"> Topics </h1>

  <% @topics.each do |topic| %>
    <div class="topic">
      <h3><%= topic.title %></h3>
      <h5><%= topic.description %></h5>
      <%= link_to topic.title, topic_path(topic) %>
    </div>
  <% end %>

</div>
