<div class="topic-container text-center">
    <h1 class="text-center">
        Topics
    </h1>
    <hr class="short-underline">

    <div id="topics">
        <% @topics.each do |topic| %>
        <%= render partial: "topics/topic", locals: { topic: topic } %>
        <% end %>
    </div>

    <div class="topic-form-container">
        <%= render partial: "topics/topic_form", locals: { topic: @topic } %>
    </div>

    <div id="pagination">
      <%= paginate @topics %>
    </div>

</div>
