<h1><%= @topic.title %></h1>

<p><%= @topic.description %></p>

<br>

  <%= link_to "Delete", topic_path(@topic), method: :delete, data: { confirm: "Why Do You Hate America?" } %>

  <%= link_to "edit", edit_topic_path(@topic), data: { confirm: "Really?" } %>
