<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<%= link_to "edit", edit_post_path(@post), data: { confirm: "Sure?"} %>

<%= link_to "delete", post_path(@post), method: :delete, data: { confirm: "Are you Bernie?"} %>
