@import "bootstrap-sprockets";
@import "bootstrap";

.background {
  background-image: asset-url("flower.jpg");
  height: 100vh;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background2 {
  background-image: asset-url("grass.jpg");
  height: 100vh;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  color: red;
  font-size: 90px;
}

h2{
  color: green;
  font-size: 100px;
}
